@use "/src/styles/tokens/semantics" as *;

.logo {
  display: flex;
  align-items: center;
  transition: scale 0.2s ease;

  @include screen-mouse-first {
    &:hover {
      scale: 1.02;
    }
  }

  @include screen-touch-first {
    &:active {
      scale: 1.02;
    }
  }

  &__title {
    color: var(--s-color-fg-primary);
    margin-left: var(--s-spacing-2);
    margin-top: var(--s-spacing-1);
    text-wrap-mode: nowrap;
  }
}
