@use "/src/styles/tokens/semantics" as *;

.header {
  padding: var(--s-spacing-4) var(--s-spacing-app-horizontal);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--s-color-bg-primary);
  z-index: 10;

  @include screen-sm {
    padding: var(--s-spacing-6) var(--s-spacing-app-horizontal);
  }

  &__nav {
    display: flex;
    gap: var(--s-spacing-5);
    align-items: center;
  }

  &__lhs {
    display: flex;
    align-items: center;
    gap: var(--s-spacing-13);
  }

  &__rhs {
    display: flex;
    align-items: center;
    margin-left: var(--s-spacing-6);
    gap: var(--s-spacing-6);

    @include screen-sm {
      margin-left: var(--s-spacing-8);
      gap: var(--s-spacing-8);
    }
  }

  &__actions {
    transition: scale 0.2s ease;

    @include screen-sm {
      height: 24px;
      width: 24px;
    }

    @include screen-mouse-first {
      &:hover {
        scale: 1.1;
      }
    }

    @include screen-touch-first {
      &:active {
        scale: 1.1;
      }
    }
  }
}
