.pill {
  background-color: var(--s-color-bg-secondary);
  padding: var(--s-spacing-4) var(--s-spacing-5);
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: var(--s-spacing-3);
  transition: scale 0.2s ease;

  &:hover {
    scale: 1.05;
  }

  &--active {
    background-color: var(--s-color-fg-primary);
  }

  &__text {
    color: var(--s-color-fg-primary);

    &--active {
      color: var(--s-color-bg-secondary);
    }
  }
}
