@use "../primitives" as *;

:root {
  --s-color-bg-primary: #{$p-color-grey-900};
  --s-color-bg-secondary: #{$p-color-grey-800};
  --s-color-bg-success: #{$p-color-green-500};
  --s-color-bg-warning: #{$p-color-yellow-500};
  --s-color-bg-error: #{$p-color-red-500};
  --s-color-bg-info: #{$p-color-blue-500};
  --s-color-fg-primary: #{$p-color-grey-100};
  --s-color-fg-secondary: #{$p-color-grey-300};
  --s-color-fg-success: #{$p-color-green-100};
  --s-color-fg-warning: #{$p-color-yellow-100};
  --s-color-fg-error: #{$p-color-red-100};
  --s-color-fg-info: #{$p-color-blue-100};
  --s-color-bg-placeholder: #{$p-color-grey-600};
}

.light-theme {
  --s-color-bg-primary: #{$p-color-grey-100};
  --s-color-bg-secondary: #{$p-color-grey-200};
  --s-color-bg-success: #{$p-color-green-300};
  --s-color-bg-warning: #{$p-color-yellow-300};
  --s-color-bg-error: #{$p-color-red-300};
  --s-color-bg-info: #{$p-color-blue-300};
  --s-color-fg-primary: #{$p-color-grey-900};
  --s-color-fg-secondary: #{$p-color-grey-700};
  --s-color-fg-success: #{$p-color-green-700};
  --s-color-fg-warning: #{$p-color-yellow-700};
  --s-color-fg-error: #{$p-color-red-700};
  --s-color-fg-info: #{$p-color-blue-700};
}
