@use "../primitives" as *;

// Placeholders
.typo-primary-s-regular {
  @include font-family-primary;
  @include font-size-s;
  @include font-weight-regular;
}

.typo-primary-s-medium {
  @include font-family-primary;
  @include font-size-s;
  @include font-weight-medium;
}

.typo-primary-s-semibold {
  @include font-family-primary;
  @include font-size-s;
  @include font-weight-semibold;
}

.typo-primary-m-regular {
  @include font-family-primary;
  @include font-size-m;
  @include font-weight-regular;
}

.typo-primary-m-medium {
  @include font-family-primary;
  @include font-size-m;
  @include font-weight-medium;
}

.typo-primary-m-semibold {
  @include font-family-primary;
  @include font-size-m;
  @include font-weight-semibold;
}

.typo-primary-l-regular {
  @include font-family-primary;
  @include font-size-l;
  @include font-weight-regular;
}

.typo-primary-l-medium {
  @include font-family-primary;
  @include font-size-l;
  @include font-weight-medium;
}

.typo-primary-l-semibold {
  @include font-family-primary;
  @include font-size-l;
  @include font-weight-semibold;
}

.typo-primary-xl-regular {
  @include font-family-primary;
  @include font-size-xl;
  @include font-weight-regular;
}

.typo-primary-xl-medium {
  @include font-family-primary;
  @include font-size-xl;
  @include font-weight-medium;
}

.typo-primary-xl-semibold {
  @include font-family-primary;
  @include font-size-xl;
  @include font-weight-semibold;
}

@mixin number-of-lines($lines) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
  text-overflow: ellipsis;
}
