.footer {
  background: var(--s-color-bg-secondary);
  padding: var(--s-spacing-4) var(--s-spacing-app-horizontal) var(--s-spacing-3);
  width: 100%;

  &__copy-right {
    margin-top: var(--s-spacing-3);
    text-align: center;
    color: var(--s-color-fg-secondary);
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__socials {
    display: flex;
    gap: var(--s-spacing-3);
  }
}
