// grey
$p-color-grey-100: #e9ece5;
$p-color-grey-200: #cfd1cb;
$p-color-grey-300: #b4b7b1;
$p-color-grey-400: #9a9c97;
$p-color-grey-500: #80817d;
$p-color-grey-600: #656663;
$p-color-grey-700: #4b4c49;
$p-color-grey-800: #30312f;
$p-color-grey-900: #161615;

// green
$p-color-green-100: #d0fdd6;
$p-color-green-200: #a1fbb8;
$p-color-green-300: #71f49f;
$p-color-green-400: #4de993;
$p-color-green-500: #18db83;
$p-color-green-600: #11bc80;
$p-color-green-700: #0c9d79;
$p-color-green-800: #077f6c;
$p-color-green-900: #046963;

// red
$p-color-red-100: #ffe5db;
$p-color-red-200: #ffc5b8;
$p-color-red-300: #ff9e95;
$p-color-red-400: #ff7a7b;
$p-color-red-500: #ff4f60;
$p-color-red-600: #db3958;
$p-color-red-700: #b7274f;
$p-color-red-800: #931946;
$p-color-red-900: #7a0f40;

// blue
$p-color-blue-100: #d8fdfe;
$p-color-blue-200: #b2f6fe;
$p-color-blue-300: #8beafe;
$p-color-blue-400: #6edbfd;
$p-color-blue-500: #3fc3fc;
$p-color-blue-600: #2e99d8;
$p-color-blue-700: #1f74b5;
$p-color-blue-800: #145292;
$p-color-blue-900: #0c3b78;

// yellow
$p-color-yellow-100: #fffad6;
$p-color-yellow-200: #fff4ae;
$p-color-yellow-300: #ffed85;
$p-color-yellow-400: #ffe667;
$p-color-yellow-500: #ffda35;
$p-color-yellow-600: #dbb626;
$p-color-yellow-700: #b7941a;
$p-color-yellow-800: #937410;
$p-color-yellow-900: #7a5d0a;

// Common
$p-color-common-black: #000000;
$p-color-common-white: #ffffff;
$p-color-common-transparent: #00000000;
