$p-spacing-0: 0px;
$p-spacing-1: 4px;
$p-spacing-2: 8px;
$p-spacing-3: 12px;
$p-spacing-4: 16px;
$p-spacing-5: 20px;
$p-spacing-6: 24px;
$p-spacing-7: 28px;
$p-spacing-8: 32px;
$p-spacing-9: 36px;
$p-spacing-10: 40px;
