$p-spacing-0: 0px;
$p-spacing-1: 2px;
$p-spacing-2: 4px;
$p-spacing-3: 6px;
$p-spacing-4: 8px;
$p-spacing-5: 12px;
$p-spacing-6: 16px;
$p-spacing-7: 20px;
$p-spacing-8: 24px;
$p-spacing-9: 28px;
$p-spacing-10: 32px;
$p-spacing-11: 40px;
$p-spacing-12: 48px;
$p-spacing-13: 56px;
$p-spacing-14: 64px;
$p-spacing-15: 72px;
