@use "variables" as *;
@use "typography" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text-primary;
}

body {
  font-family: "outfit", sans-serif;
  background-color: $bg-primary;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}
